doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 404 Error: File Not Found
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/main.dark.css')
h1 Server Error
h2 404 - File or directory not found
p
  | The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
script(src='/js/main.js')
