doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login - Microblogging Site
    link(rel="stylesheet" href="/css/dashboard.css")
  body
    main.create-post-container
      form.create-post-form(action="/create-post" method="post")
        h2 Create and share a post now!
        label(for="title") Title
        input#title(type="text" name="title" placeholder="Enter the title" maxlength="70" required)
        span#title-counter 0/70 characters
        label(for="description") Description
        textarea#description(name="description" placeholder="What's on your mind?" maxlength="200" required)
        span#description-counter 0/200 characters
        button(type="submit" class="btn share-btn") Share
    footer
      p &copy; 2023 Microblogging Site
    script(src="/js/main.js")
